.profile-view {
    max-width: 800px;
    margin: 3rem auto;
    padding: 2rem;
    background: white;
    box-shadow: var(--sombra);
    border-radius: 15px;
    display: flex;
    gap: 30px;
}

.avatar-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid var(--naranja);
}