/*a este toca hacer cambio o agregar*/
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/*a este toca hacer cambios o agregar*/
.card img {
    width: 100%;
    height: auto;
    display: block;
}

/*este es para separar el subtitulo y el texto de la imagen de la card*/
.card__recomendacion h4 {
    padding: 0.5rem;
}

/* Variantes según sección */
.card__recomendacion img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card__tienda img {
    height: 190px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.menu__card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    border-radius: var(--radio) var(--radio) 0 0;
}

.card__recomendacion {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 1rem;
    /*se agrego un padding para separar la informacion de las card*/
    padding: 1rem;
}

/*este revisar si va aqui o en card.css*/
/* .card__menu,
.card__tienda {
    padding: 1rem;
} */

.carta__grid {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
}

.carta__card {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #eee;
}

.carta__imagen {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.carta.detalles {
    flex-grow: 1;
}

.carta__titulo {
    font-size: 1.1rem;
    margin: 0;
}

.carta__precio {
    color: #888;
    margin: 0.25rem 0 0 0;
}

.carta__cantidad {
    display: flex;
    align-items: center;
}

.btn__cantidad {
    background-color: #f08b51;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn__cantidad:hover {
    background-color: #d06f39;
}

.cantidad__input {
    width: 50px;
    text-align: center;
    margin: 0 0.5rem;
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.carta__total {
    text-align: right;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.btn__pago:hover {
    background-color: #d06f39;
}