/*a este toca hacer cambio o agregar*/
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/*a este toca hacer cambios o agregar*/
.card img {
    width: 100%;
    height: auto;
    display: block;
}

/*este es para separar el subtitulo y el texto de la imagen de la card*/
.card__recomendacion h4 {
    padding: 0.5rem;
}

/* Variantes según sección */
.card__recomendacion img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card__tienda img {
    height: 190px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.menu__card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    border-radius: var(--radio) var(--radio) 0 0;
}

.card__recomendacion {
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 1rem;
    /*se agrego un padding para separar la informacion de las card*/
    padding: 1rem;
}

/*este revisar si va aqui o en card.css*/
/* .card__menu,
.card__tienda {
    padding: 1rem;
} */